* {
    font-family: Helvetica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#navbar {
    border-bottom: 3px solid #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em 2em;
    height: 100px;
    background-color: rgb(12, 12, 95);
    color: #fff;
}

#navbar a {
    text-decoration: none;
    list-style: none;
}

#navbar h1 {
    color: #fff;
}

#navbar ul {
    display: flex;
    margin: 0;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
}

#navbar ul li a:hover {
    transition: 0.3s;
    background-color: rgb(73, 73, 204);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task-list {
 
}

.actions {
    display: flex;
}