<h1>All tasks:</h1>
<ul class="task-list">
    {{#each tasks}}
    <li>
        <p>{{this.title}} </p>
        <p>{{this.description}}</p>
    </li>
    <div class="actions">
        <a href=""><i class="bi bi-check2"></i></a>
        <a href=""><i class="bi bi-pencil-square"></i></a>
        <form action="/tasks/delete" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">
                <i class="bi bi-trash3-fill"></i> 
            </button>
        </form>

    </div>
    {{/each}}
</ul>