<h1>Add a new task:</h1>
<form action="/tasks/createSave" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Type the title">
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea name="description" placeholder="Type the description"></textarea>
    </div>
    <button class="submit">Save Task</button>
</form>